= render partial: "groups/flash"
.menu
  .menu__user-name
    %ul
      %li= current_user.name
      = link_to new_group_path do
        %li.fa.fa-edit
      = link_to edit_user_registration_path do
        %li.fa.fa-cog
  = render partial: "groups/list", collection: @groups, as: "group"
.chat
  .chat__group
    .chat__group__edit
      = link_to "Edit", edit_group_path(@group)
    .group-name= @group.name
    .group-member
    Member:
    = @group.users.pluck(:name)
  = render partial: "message"
  .chat__send-message
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: "type-message", placeholder: "Type a message"
      = f.label :image do
        = f.file_field :image, class: "type-message--image", style: "display:none;"
        %i.fa.fa-file-picture-o
        = f.submit "Send", class: "type-message--send"
