.chat-group-form
  %h1 新規チャットグループ
  -if @group.errors.any?
    #error_explanation
      %h2
        = @group.errors.count
        件のエラーが発生しました。
      %ul
        -@group.errors.full_messages.each do |message|
          %li
            = message
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label
          = f.label 'グループ名'
      .chat-group-form__field--right
        = f.text_field :name, class: 'chat-group-form__input', id: 'chat_group_name', placeholder: 'グループ名を入力してください'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :user_ids, class: 'chat-group-form__input', id:'user-search-field', placeholder: '追加したいユーザー名を入力してください'
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label
          = f.label :user_ids, 'チャットメンバー'
      .chat-group-form__field--right
        .chat-group-user.clearfix= current_user.name
        #chat-group-users
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'save', class: 'chat-group-form__action-btn', type: 'submit'
